@using OrderApp.Models.DTO.Form
@model FormGetDataToCreateOrUpdateOrderResponseDTO

<div class="modal-header">
    <h5 class="modal-title">@Model.FormTitle</h5>
</div>

<div class="modal-body">
    <label asp-for="OrderData.ProviderId">Provider</label>
    <select asp-for="OrderData.ProviderId" asp-items="@(new SelectList(Model.Providers, "Id", "Name"))"></select>

    <label asp-for="OrderData.Number">Number</label>
    <input asp-for="OrderData.Number" />

    <label asp-for="OrderData.Date">Date</label>
    <input type="date" asp-for="OrderData.Date" />

    <table cellpadding="0" cellspacing="0" class="grid" id="order-items-table">
        <tr>
            <th>Name</th>
            <th>Quantity </th>
            <th>Unit</th>
        </tr>
    </table>

    <button>Add item</button>

    <button>Save order</button>
</div>







