@using OrderApp.Models.DTO.Form
@model IEnumerable<FormGetOrderRowResponseDTO>

<table id="orders-table">
    <thead>
        <tr>
            <th>Provider Name</th>
            <th>Order Number</th>
            <th>Order Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderRow in Model)
        {
            <tr>
                <td class="column-id d-none">@orderRow.Id</td>
                <td>@orderRow.ProviderName</td>
                <td>@orderRow.Number</td>
                <td>@orderRow.Date</td>
            </tr>
        }
    </tbody>
</table>
