@using OrderApp.Models.DTO.Form
@model IEnumerable<FormGetOrderRowResponseDTO>

<table id="orders-table">
    <tr>
        <th>Number</th>
        <th>Date</th>
    </tr>
    @foreach (var orderRow in Model)
    {
        <tr>
            <td class="column-id d-none">@orderRow.Id</td>
            <td>@orderRow.Number</td>
            <td>@orderRow.Date</td>
        </tr>
    }
</table>
