@using OrderApp.Models.DTO.Form
@model IEnumerable<FormGetOrderRowResponseDTO>

<h4 class="display-6">Table</h4>

<button id="add-order-button" class="w-100 mx-auto m-4">Add order</button>

<table id="orders-table" class="table mx-auto">
    <thead>
        <tr>
            <th>Provider Name</th>
            <th>Order Number</th>
            <th>Order Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderRow in Model)
        {
            <tr>
                <td class="column-id d-none">@orderRow.Id</td>
                <td>@orderRow.ProviderName</td>
                <td>@orderRow.Number</td>
                <td>@orderRow.Date</td>
            </tr>
        }
    </tbody>
</table>