@using OrderApp.Models.DTO.Form
@model FormGetMainPageDataResponseDTO
@{
    ViewData["Title"] = "Main page";
}
@section Styles {
    <link rel="stylesheet" href="~/lib/chosen/dist/chosen.min.css" />
    <link rel="stylesheet" href="~/css/pages/main/orders-table.css" />
}
@section Scripts {
    <script src="~/js/pages/main/main.js"></script>
    <script src="~/js/pages/main/main-modal.js"></script>
    <script src="~/lib/chosen/dist/chosen.jquery.min.js"></script>
    <script src="~/js/pages/main/chosen-activate.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
}
@section Modals {
    @await Html.PartialAsync("_CreateOrUpdateOrderModal")
}

<div class="text-center">
    <h1 class="display-4">Main page</h1>

    <button id="add-order-button">Add order</button>

    <div id="orders-filters-container">
        @await Html.PartialAsync("_OrderFilters", Model.Filter)
    </div>

    <div id="orders-table-container">
        @await Html.PartialAsync("_OrdersTable", Model.OrderRows)
    </div>
</div>